

<div
class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark rounded-2"
style="width: 280px"
>
<ul class="nav nav-pills flex-column mb-auto">
  <li class="nav-item">
    <a
      href={% url 'principal' %}
      class="nav-link {% if request.path == '/admin-fabrim/principal/' %}active {% else %} text-white {% endif %}"
      aria-current="page"
    >
      Inicio
    </a>
  </li>
  <li>
    <a
      href={% url 'medicamentos' %}
      class="nav-link {% if request.path == '/admin-fabrim/medicamentos/' %}active {% else %} text-white {% endif %}"

    >
      Medicamentos
    </a>
  </li>
  <li>
    <a
      href={% url 'tipos-medicamentos' %}
      class="nav-link {% if request.path == '/admin-fabrim/tipos-medicamentos/' %}active {% else %} text-white {% endif %}"

    >
      Tipo de Medicamentos
    </a>
  </li>
  <li>
    <a
      href={% url 'tarjetas-estiba' %}
      class="nav-link {% if request.path == '/admin-fabrim/tarjetas-estiba/' %}active {% else %} text-white {% endif %}"

    >
      Tarjetas de Estiba
    </a>
  </li>
  <li>
    <a
      href={% url 'compras' %}
      class="nav-link {% if request.path == '/admin-fabrim/compras/' %}active {% else %} text-white {% endif %}"

    >
      Compras
    </a>
  </li>
  <li>
    <a
    href={% url 'pedidos' %}
      class="nav-link {% if request.path == '/admin-fabrim/pedidos/' %}active {% else %} text-white {% endif %}"

    >
      Pedidos
    </a>
  </li>
  <li>
    <a
      href={% url 'usuarios' %}
      class="nav-link {% if request.path == '/admin-fabrim/usuarios/' %}active {% else %} text-white {% endif %}"

    >
      Usuarios
    </a>
  </li>

</ul>
</div>